/* Import fonts */
@import url(
  http://fonts.googleapis.com/css?family=Open+Sans:400,
  300,
  300italic,
  400italic,
  600,
  600italic,
  700,
  700italic,
  800,
  800italic
);
body {
  color: #000;
  background: #f1f2f7;
  font-family: 'Open Sans', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px;
  background: #fff;
}

ul li {
  list-style: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
::selection {
  background: #ff6c60;
  color: #fff;
}
::-moz-selection {
  background: hsl(5, 100%, 69%);
  color: #fff;
}

#container {
  width: 100%;
  height: 100%;
}

#logo {
  width: 50px;
  height: 50px;
}

/*sidebar navigation*/

#sidebar {
  width: 210px;
  height: 100%;
  position: fixed;
  font-weight: 600;
  background: #112233;
}

#sidebar ul li {
  position: relative;
}

#sidebar .sub-menu > .sub li {
  padding-left: 32px;
}

#sidebar .sub-menu > .sub li:last-child {
  padding-bottom: 10px;
}

/*LEFT NAVIGATION ICON*/
.dcjq-icon {
  height: 17px;
  width: 17px;
  display: inline-block;
  background: url(../img/nav-expand.png) no-repeat top;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  position: absolute;
  right: 10px;
  top: 15px;
}
.active .dcjq-icon {
  background: url(../img/nav-expand.png) no-repeat bottom;

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
/*---*/

.nav-collapse.collapse {
  display: inline;
}

ul.sidebar-menu,
ul.sidebar-menu li ul.sub {
  margin: -2px 0 0;
  padding: 0;
}

ul.sidebar-menu {
  margin-top: 75px;
}
#sidebar > ul > li > ul.sub {
  display: none;
}

#sidebar > ul > li.active > ul.sub,
#sidebar > ul > li > ul.sub > li > a {
  display: block;
}

ul.sidebar-menu li ul.sub li {
  background: #223344;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child {
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
  font-size: 12px;
  padding: 6px 0;
  line-height: 35px;
  height: 35px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #efefef;
}

ul.sidebar-menu li ul.sub li a:hover,
ul.sidebar-menu li ul.sub li.active a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  padding: 2px;
  background: transparent;
}

ul.sidebar-menu li {
  margin-bottom: -5px;
  margin-left: 10px;
  margin-right: 10px;
  background: #112233 !important;
}

ul.sidebar-menu li.sub-menu {
  line-height: 15px;
}

ul.sidebar-menu li a span {
  display: inline-block;
  color: #fff;
}

ul.sidebar-menu li a {
  text-decoration: none;
  display: block;
  padding: 15px 0 15px 10px;
  font-size: 12px;
  outline: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
}

ul.sidebar-menu li a.active,
ul.sidebar-menu li a:hover,
ul.sidebar-menu li a:focus {
  color: #fff;
  display: block;
  border-radius: 4px;
  -webkit-border-radius: 4px;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

ul.sidebar-menu li a i {
  font-size: 15px;
  padding-right: 6px;
}

ul.sidebar-menu li a:hover i,
ul.sidebar-menu li a:focus i {
  color: #ff6c60;
}

ul.sidebar-menu li a.active i {
  color: #ff6c60;
}

/*main content*/

#main-content {
  margin-left: 210px;
}

.header,
.footer {
  min-height: 60px;
  padding: 0 15px;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1002;
}

.white-bg {
  background: #fff;
  border-bottom: 1px solid #f1f2f7;
}

.wrapper {
  display: inline-block;
  margin-top: 39px;
  padding: 15px 50px;
  width: 100%;
}

a.logo {
  font-size: 25px;
  color: #2e2e2e;
  float: left;
  /* margin-top: 0px; */
  text-transform: none;
  text-align: center;
  /* width: 64%; */
}

a.logo strong {
  float: right;
}

a.logo:hover,
a.logo:focus {
  text-decoration: none;
  outline: none;
}

a.logo span {
  color: #000;
}
.presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 80vh;
  align-items: center;
}
.introduction {
  flex: 1;
}
.intro-text h1 {
  font-size: 44px;
  font-weight: 500;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #585772;
}
.cta {
  padding: 50px 0px 0px 0px;
}
.cta-select {
  border: 2px solid #c36cbb;
  background: transparent;
  color: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}
.cta-add {
  background: #c36cbb;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  color: white;
  margin: 30px 0px 0px 30px;
}
.cover {
  flex: 1;
  display: flex;
  justify-content: center;
  height: 60vh;
}
.cover img {
  height: 100%;
  filter: drop-shadow(0px 5px 3px black);
  animation: drop 1.5s ease;
}
.big-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  opacity: 0.5;
  height: 80%;
}
.medium-circle {
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: -1;
  height: 60%;
  opacity: 0.4;
}
.small-circle {
  position: absolute;
  bottom: 0%;
  left: 20%;
  z-index: -1;
}
.laptop-select {
  width: 15%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 20%;
}
/* start home page */
.site-header {
  width: 100%;
  height: 100vh;
  background: #0f8a9d;
  background: linear-gradient(57deg, #00c6a7, #1e4d92);
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  font-family: 'Montserrat', sans-serif;
}
.home-header {
  display: flex;
}
.leftside {
  height: auto;
  overflow: hidden;
  margin-top: 80px;
}

.leftside img {
  width: 600px;
  height: 500px;
}

.rightside {
  height: 300px;
  color: white;
  text-align: center;
  margin-top: 80px;
  padding: 40px;
}

.rightside h1 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: 900;
  text-transform: uppercase;
}

.rightside p {
  font-size: 1.5rem;
  padding: 30px 0;
}

.rightside button {
  font-size: 17px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  background: linear-gradient(57deg, #00c6a7, #1e4d92);
  border-radius: 4px 4px 4px 4px;
  padding: 10px 15px;
  margin-right: 20px;
}

.rightside button:hover {
  background: linear-gradient(57deg, #1e4d92, #00c6a7);
}

/* end home page */
/* partners start */
ul.logoslider li {
  list-style: none;
  float: left;
  text-align: center;
}
ul.logoslider {
  margin: 0;
  padding: 0;
}
.logoslider img {
  max-width: 100%;
}
.w100logo {
  width: 100%;
  margin-bottom: 30px;
  padding-bottom: 15px;
  padding-top: 10px;
  text-align: center;
  background: #fff;
}
ul.logoslider {
  margin-top: 20px;
  padding: 0;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: 0;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:after,
.slick-track:before {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
  margin: 0 auto;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-dotted.slick-slider {
  margin-bottom: 20px;
}
.slick-next,
.slick-prev {
  display: none !important;
}
/* partners end */
/* feature area start */
.feature-area .section-title h2 {
  color: #383838;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  font-size: 30px;
  line-height: 36px;
}
.feature-area h3 {
  color: #383838;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  font-size: 24px;
  line-height: 30px;
}
.feature-area p:last-child {
  margin-bottom: 0;
}
.section-pt {
  padding-top: 100px;
}
.section-pb-70 {
  padding-bottom: 70px;
}
.section-title {
  margin-bottom: 60px;
  text-align: center;
}
.section-title #h02 {
  font-size: 30px;
  margin-top: -4px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 15px;
  color: #09c7e0;
}
.section-title h2 span {
  color: #333;
  font-weight: 300;
}
.section-title p {
  font-size: 16px;
}
.signle-feature {
  margin-bottom: 30px;
  text-align: center;
}
.signle-feature .feature-icon i {
  font-size: 48px;
  background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.signle-feature .feature-content {
  margin-top: 20px;
}
.signle-feature .feature-content h3 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
}
.signle-feature .feature-content p {
  font-size: 14px;
}
.feature-area-inner-four .single-feature {
  padding: 50px 30px;
  transition: all 0.4s ease-in-out;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.feature-area-inner-four .single-feature .feature-icon {
  font-size: 34px;
  margin-bottom: 20px;
}
.feature-area-inner-four .single-feature .feature-text h3 {
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}
.feature-area-inner-four .single-feature .feature-text p {
  font-size: 16px;
  margin-top: 15px;
}
.feature-area-inner-four .single-feature.active::after {
  opacity: 1;
}
.feature-area-inner-four .single-feature.active .feature-icon {
  color: #fff;
}
.feature-area-inner-four .single-feature.active .feature-text h3 {
  color: #fff;
}
.feature-area-inner-four .single-feature.active .feature-text p {
  color: #fff;
}
.feature-area-inner-four .single-feature::after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  background: rgba(0, 0, 0, 0.1)
    linear-gradient(to bottom, rgba(7, 82, 150, 0.6) 0%, #09c7e0 100%) repeat
    scroll 0 0;
}
.feature-area-inner-four .single-feature:hover:after {
  opacity: 1;
}
.feature-area-inner-four .single-feature:hover .feature-icon {
  color: #fff;
}
.feature-area-inner-four .single-feature:hover .feature-text h3 {
  color: #fff;
}
.feature-area-inner-four .single-feature:hover .feature-text p {
  color: #fff;
}

/* feature area end */

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  .footer-links a:hover {
    color: #ff6c60;
  }
  .footer-links a:hover {
    color: #ff6c60;
  }
  .footer-links a:hover {
    color: #ff6c60;
  }
  to {
    opacity: 1;
    .footer-links a:hover {
      color: #ff6c60;
    }
    transform: translateX(0px);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/*notification*/

.top-nav {
  margin-top: 7px;
}
.top-nav ul.top-menu > li {
  display: inline-block;
}
.top-nav ul.top-menu > li .dropdown-menu.logout {
  width: 268px !important;
}
.dropdown-menu.extended.logout > li {
  float: left;
  text-align: center;
  width: 33.3%;
}
.top-menu li {
  display: flex;
}
.top-nav li.dropdown .dropdown-menu {
  float: right;
  right: 0;
  left: auto;
}
.dropdown-menu.extended.logout > li:last-child {
  float: left;
  text-align: center;
  width: 100%;
  background: #c36cbb;
  border-radius: 0 0 3px 3px;
}

.dropdown-menu.extended.logout > li:last-child > a,
.dropdown-menu.extended.logout > li:last-child > a:hover {
  color: #fff;
  border-bottom: none !important;
  text-transform: uppercase;
}

.dropdown-menu.extended.logout > li:last-child > a:hover > i {
  color: #fff;
}
.dropdown-menu.extended.logout > li:nth-child(5) {
  float: left;
  text-align: center;
  width: 100%;
  background: #24b2bc;
}
.dropdown-menu.extended.logout > li:nth-child(5) > a,
.dropdown-menu.extended.logout > li:nth-child(5) > a:hover {
  color: #fff;
  border-bottom: none !important;
  text-transform: uppercase;
}
.dropdown-menu.extended.logout > li:nth-child(5) > a:hover > i {
  color: #fff;
}
.dropdown-menu.extended.logout > li > a {
  color: #a4abbb;
  border-bottom: none !important;
}

.full-width .dropdown-menu.extended.logout > li > a:hover {
  background: none !important;
  color: #50c8ea !important;
}

.dropdown-menu.extended.logout > li > a:hover {
  background: none !important;
}

.dropdown-menu.extended.logout > li > a:hover i {
  color: #50c8ea;
}

.dropdown-menu.extended.logout > li > a i {
  font-size: 17px;
}

.dropdown-menu.extended.logout > li > a > i {
  display: block;
}
.top-nav .username {
  font-size: 13px;
  color: #555555;
}

.top-nav ul.top-menu > li > a {
  border: 1px solid #eeeeee;
  padding: 6px;
  background: none;
  margin-right: 0;
  margin-left: 10px;
}

.top-nav ul.top-menu > li > a:hover,
.top-nav ul.top-menu > li > a:focus {
  border: 1px solid #f1f2f7;
  background: #f1f2f7;
}
.top-nav .dropdown-menu.extended.logout {
  top: 50px;
}
.top-nav .nav .caret {
  border-bottom-color: #a4aaba;
  border-top-color: #a4aaba;
}
.top-nav ul.top-menu > li > a:hover .caret {
  border-bottom-color: #000;
  border-top-color: #000;
}
.log-arrow-up {
  background: url('../img/arrow-up.png') no-repeat;
  width: 20px;
  height: 11px;
  position: absolute;
  right: 20px;
  top: -10px;
}

.dropdown-menu.extended {
  max-width: 300px !important;
  min-width: 160px !important;
  top: 42px;
  width: 235px !important;
  padding: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
  border: none !important;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* Safari and Chrome */
  .dropdown-menu.extended {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
  }
}
.dropdown-menu.extended li p {
  background-color: #f1f2f7;
  color: #666666;
  margin: 0;
  padding: 10px;
  border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
}
.dropdown-menu.extended li p.green {
  background-color: #a9d86e;
  color: #fff;
}

.dropdown-menu.extended li p.red {
  background-color: #ff6c60;
  color: #fff;
}

.dropdown-menu.extended li p.yellow {
  background-color: #fcb322;
  color: #fff;
}

.dropdown-menu.extended li a {
  border-bottom: 1px solid #ebebeb !important;
  font-size: 12px;
  list-style: none;
}

.dropdown-menu.extended li a {
  padding: 15px 10px !important;
  width: 100%;
  display: inline-block;
}

.dropdown-menu.extended li a:hover {
  background-color: #f7f8f9 !important;
  color: #2e2e2e;
}
.dropdown-menu.tasks-bar .task-info .desc {
  font-size: 13px;
  font-weight: normal;
}
.dropdown-menu.tasks-bar .task-info .percent {
  display: inline-block;
  float: right;
  font-size: 13px;
  font-weight: 600;
  padding-left: 10px;
  margin-top: -4px;
}
.dropdown-menu.extended .progress {
  margin-bottom: 0 !important;
  height: 10px;
}

.dropdown-menu.inbox li a .photo img {
  border-radius: 2px 2px 2px 2px;
  float: left;
  height: 40px;
  margin-right: 4px;
  width: 40px;
}
dropdown-menu.inbox li a .subject {
  display: block;
}

.dropdown-menu.inbox li a .subject .from {
  font-size: 12px;
  font-weight: 600;
}

.dropdown-menu.inbox li a .subject .time {
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
  position: absolute;
  right: 5px;
}
.dropdown-menu.inbox li a .message {
  display: block !important;
  font-size: 11px;
}
/* Top Search box */
.search-form {
  margin-top: 8px;
  float: left;
  padding: 0px;
  margin-left: 20px;
}
input[type='text'] {
  padding: 6px;
  font-size: 16px;
  width: 380px;
}
.search-button {
  float: right;
  background: orange;
  color: white;
  padding: 6px;
  border-radius: 0 5px 5px 0;
  position: relative;
  padding: 8px;
  font-size: 16px;
  border: none;
  width: 50px;
}

/*--sidebar toggle---*/

.sidebar-toggle-box {
  float: left;
  padding-right: 15px;
  margin-top: 20px;
}

.sidebar-toggle-box .fa-bars {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
}

/*big-footer*/

.site-footer {
  background: #5b6e84;
  color: #fff;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.go-top {
  margin-right: 1%;
  float: right;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.go-top i {
  color: #2a3542;
}

.site-min-height {
  min-height: 618px;
}
/* footer */
.subs-form {
  margin: 0;
  padding: 0;
  outline: none;
  display: flex;
  flex-direction: column;
}
.newsletter {
  max-width: 555px;
  width: 100%;
  position: relative;
}
.newsletter .input {
  width: 100%;
  padding: 10px 100px 10px 60px;
  border: none;
  font-weight: bold;
  color: black;
}
.newsletter .fa {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  color: lightgrey;
}
.newsletter .subs-btn {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  background: red;
  font-size: 12px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.google-btn {
  width: 20vh;
}
.footer-links h5 {
  font-weight: bold;
}
.footer-links ul li a {
  color: #fff;
}

.footer-links ul li a:hover {
  text-decoration: underline;
}
.footer-links a {
  color: white;
  margin-right: 20px;
}
.footer-links a i:hover {
  color: #ff6c60;
}
.shop-icon {
  float: left;
  padding: 8px;
  margin-right: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.stores a {
  padding: 2px 30px 2px 10px;
  margin-left: 30px;
  background-color: black;
  color: white;
}
.stores a .icon-stores {
  float: left;
  margin-right: 5px;
}
.stores a .icon-play {
  float: left;
  margin-right: 5px;
}
.stores a .app-store {
  display: flex;
  font-size: 8px;
}
.stores a .play-store {
  display: flex;
  font-size: 8px;
  text-transform: uppercase;
}
.codelogo {
  width: 150px;
  height: 150px;
}
.links-top {
  margin: 30px;
}
